{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web'dash</title>
	<link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'dash/favicon1.png' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	
	{% include 'dash/navbartop.html' %}
	{% include 'dash/navbarphone.html' %}
<div class="grid">

	{% include 'dash/navbarside.html' %}

    	<main class="main">
            <div class="row">
                <div class="card-03">
                	<h2>Dashboard Users</h2>
					<table id="customers">
						<thead>
					  <tr class="pos-r">
					    <th>Username</th>
					    <th>E-mail</th>
						<th>Joined</th>
						<th>Last login</th>
					  </tr>
					  </thead>
					  {% for user in users %}
					  <tr>
					    <td>{{ user.username }}</td>
					    <td>{{ user.email }}</td>
						<td>{{ user.date_joined }}</td>
						<td>{{ user.last_login }}</td>
					  </tr>
					  {% endfor %}
					</table>
                </div>
            </div>
            {% include 'dash/footer.html' %}
		</main>
</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
	</body>
</html>